@use "../../../../assets/scss/variables" as v;

.book-search{
  .form-control {
    border: 2px solid #ced4da !important;
    box-shadow: 0 0 0.5rem 0.1rem grey;
  }
 }

.book-add-btn {
  .btn {
    background-color: white;
    color: v.$color1;
    border: 0.1rem solid v.$color1;
    border-radius: 0.8rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: v.$color1;
      color: v.$color2;
    }
  }
}

.admin-book-list-container {
  box-shadow: 0 0 0.5rem 0.2rem grey;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
  border-right: 0.5rem solid v.$color1;

  .rdt_TableRow {
    .user-edit-btn {
      padding: 0.5rem 2rem;
    }

    .user-del-btn {
      padding: 0.5rem 1rem;
    }
  }

  .rdt_TableHeadRow {
    font-weight: bold;
  }

  .rdt_TableRow {
    .user-edit-btn {
      padding: 0.5rem 2rem;
    }

    .user-del-btn {
      padding: 0.5rem 1rem;
    }
  }

  .rdt_TableHeadRow {
    font-weight: bold;
  }
}

.admin-book-list {
  .card {
    @media (max-width: 767px) {
      margin-bottom: 13rem !important;
      .card-title {
        text-align: center;
      }
      .card-text-group {
        display: flex;
        justify-content: center;
      }
    }
    @media (max-width: 442px) {
      font-size: 0.6rem;
      margin-bottom: 10rem !important;
      .card-body {
        padding: 5px;
      }
      .card-title {
        text-align: center;
        font-size: 1rem;
      }
    }
    @media (max-width: 376px) {
      font-size: 0.6rem;
      margin-bottom: 10rem !important;
      .card-body {
        padding: 5px;
      }
      .card-title {
        text-align: center;
        font-size: 0.6rem;
      }
      .card-text-group {
        display: flex;
        justify-content: center;
      }
    }

    border: none;
    border-radius: 0px !important;
    --bs-card-height: 80px;
    font-size: 0.8rem !important;

    svg {
      font-size: 1rem !important;
      color: v.$color1;
    }
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: auto;
    padding: 0px;
    margin: 0;
    height: 90px !important;
  }
}

.input-group {
  margin-bottom: 1rem;
  .input-group-text {
    background-color: v.$color1;
    svg {
      font-size: 1.5rem;
      color: v.$color3;
    }
  }

  .btn {
    border-radius: 2rem;
  }
}
