@use "../../../../assets/scss/variables" as v;

.user-add-btn {
  .btn {
    background-color: white;
    color: v.$color1;
    border: 0.1rem solid v.$color1;
    border-radius: 0.8rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: v.$color1;
      color: v.$color2;
    }
  }
}
